<div class="bg-bg w-full flex flex-col justify-between items-center pb-4">
    <div class="bg-bg shadow-xl rounded-lg w-5/6 hover:bg-bgHigh hover:text-bg text-bgHigh duration-200 p-4">
        <h1 class="font-arial text-3xl leading-loose">Personlize Your Poster</h1>
        <p class="font-arial">
            Customizing your posters is effortless with our user-friendly tools, allowing you to tailor each design to suit your preferences. Once perfected, simply upload your creation to our forum section, where fellow enthusiasts can engage with and appreciate your unique design. Whether seeking feedback or sharing inspiration, our platform fosters a vibrant community where creativity thrives and connections are made through the power of design.</p>
        <div class="flex w-full justify-end">
            <button class="bg-yellow font-arial text-bg py-2 px-4 rounded-full mt-2 shadow-2xl hover:scale-110 duration-200">check it out</button>
        </div>
    </div>
    <div class="flex w-full justify-center">
        <div class="border-2 border-bgHigh my-12 rounded-full w-4/6"></div>
    </div>
</div>