<div class="flex items-center justify-center h-screen">
    <div class="w-1/3 p-4 rounded-lg shadow sm:p-6 md:p-8 bg-bg shadow-xl">
        <form class="space-y-6" [formGroup]="signupForm" (submit)="onSubmit()">
            <h5 class="text-3xl text-center text-white font-arial">Sign in to our platform</h5>
            <div>
                <label for="username" class="block mb-2 text-lg font-medium text-bgHigh font-arial tracking-widest">Your Username</label>
                <input type="text" formControlName="username" id="username" placeholder="Cool Username" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " required />
                <div class="text-danger fw-bold" *ngIf="signupForm.controls['username'].invalid && (signupForm.controls['username'].dirty || signupForm.controls['username'].touched)">
                    <div *ngIf="signupForm.controls['username'].errors?.['required']" class="alert alert-danger p-2">Username is required</div>
                    <div *ngIf="signupForm.controls['username'].errors?.['minlength']" class="alert alert-warning p-2">Minimum length is 3</div>
                </div>
            </div>
            <div>
                <label for="email" class="block mb-2 text-lg font-medium text-bgHigh font-arial tracking-widest">Your email</label>
                <input type="email" formControlName="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="name@company.com" required />
                <div class="text-danger fw-bold" *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)">
                    <div *ngIf="signupForm.controls['email'].errors?.['required']" class="alert alert-danger p-2">Email is required</div>
                    <div *ngIf="signupForm.controls['email'].errors?.['email']" class="alert alert-warning p-2">Invalid email</div>
                </div>
            </div>
            <div>
                <label for="password" class="block mb-2 text-lg font-medium text-bgHigh font-arial tracking-widest">Your password</label>
                <input type="password" formControlName="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " required />
                <div class="text-danger fw-bold" *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)">
                    <div *ngIf="signupForm.controls['password'].errors?.['required']" class="alert alert-danger p-2">Password is required</div>
                    <div *ngIf="signupForm.controls['password'].errors?.['minlength']" class="alert alert-warning p-2">Minimum length is 3</div>
                </div>
                
            </div>
            <div>
                <label for="numero" class="block mb-2 text-lg font-medium text-bgHigh font-arial tracking-widest">Phone Number</label>
                <input type="pnumero" formControlName="numero" id="numero" placeholder="0000000" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " required />
                <div class="text-danger fw-bold" *ngIf="signupForm.controls['numero'].invalid && (signupForm.controls['numero'].dirty || signupForm.controls['numero'].touched)">
                    <div *ngIf="signupForm.controls['numero'].errors?.['required']" class="alert alert-danger p-2">numero is required</div>
                    <div *ngIf="signupForm.controls['numero'].errors?.['minlength']" class="alert alert-warning p-2">Minimum length is 8</div>
                </div>
            </div>
            <button type="submit" class="font-arial w-full text-bg bg-yellow hover:scale-101 duration-200 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Sign in</button>
        </form>
        <div class="text-sm font-medium text-bgHigh mt-2">
            Already have an account? <a (click)="NavigateTo()" class="text-yellow hover:underline">Log in</a>
        </div>
    </div>
</div>