<div class="h-screen w-full flex justify-center Post-container overflow-scroll" style=" box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px px 0 rgba(0, 0, 0, 0.19);">
  <div class="w-full flex flex-col items-center">
    <div class="w-1/2 mt-16 shadow-xl">
      <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div class="bg-white p-4 rounded-lg shadow-md">
          <div class="flex items-center space-x-4">
            <img [src]="'assets/imgs/' + user.profilePic" alt="" class="bg-bg h-12 w-12 rounded-full mr-4" />
            <textarea
              formControlName="description"
              placeholder="What's on your mind?"
              class="w-full rounded-full py-2 px-4 border border-gray-300 focus:outline-none focus:border-blue-500"
            ></textarea>
          </div>
          <hr class="my-4" />
          <div class="flex justify-between items-center">
            <div class="flex space-x-2">
              <label
                for="file_input"
                class="flex items-center px-2 rounded-full py-1 text-black cursor-pointer border border-yellow hover:bg-yellow duration-200 hover:shadow-xl"
              >
                <svg
                  class="w-5 h-5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M8 16l4-4 4 4m-4-12v12"
                  ></path>
                </svg>
                <span class="mr-2">Upload a photo</span>
                <input
                  formControlName="imageURL"
                  class="hidden"
                  id="file_input"
                  type="file"
                  (change)="previewFile($event)"
                />
                <img
                  [src]="previewSrc"
                  class="h-10 w-10 rounded-full"
                  alt="Preview"
                />
              </label>
            </div>
            <button
              type="submit"
              class="hover:bg-yellow border duration-200 text-black flex items-center rounded-full py-2 px-4 shadow-xl"
            >
              Post
              <svg
                class="w-3 h-3 rotate-90 rtl:-rotate-90 ml-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 18 20"
              >
                <path
                  d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"
                />
              </svg>
            </button>
          </div>
        </div>
      </form>
    </div>
    <ul class="flex flex-col items-center w-3/6">
      <li *ngFor="let post of posts" class="w-full my-16">
        <div>
          <app-post
            [postId]="post.id"
            [imageURL]="post.imageURL"
            [description]="post.description"
            [username]="post.user.username"
            [profilePic]="post.user.profilePic"
            [addedAt]="post.added_at"
          ></app-post>
        </div>
      </li>
    </ul>
  </div>
</div>
