<div class="bg-bg h-screen py-8">
    <div class="text-white tracking-widest flex px-8">
        <h1 class="font-arial text-7xl scale-y-150 pt-2 mr-1">Suggestions</h1>
        <p class="font-arial text-bgHigh w-6/12 leading-relaxed">Have ideas for new posters or improvements? We're all ears! Share your suggestions, and let's elevate our designs together.</p>
    </div>
    <div class="flex items-center mt-4">
        <div class="flex w-7/12 justify-between my-4 px-8 font-arial text-bg text-xl">
            <button class="bg-yellow text-bg mr-4 px-8 py-4 rounded-full shadow-xl hover:px-10 duration-300">Album</button>
            <button class="bg-yellow text-bg mr-4 px-8 py-4 rounded-full shadow-xl hover:px-10 duration-300">Artist</button>
            <button class="bg-yellow text-bg mr-4 px-8 py-4 rounded-full shadow-xl hover:px-10 duration-300">Others</button>
        </div>
        <div class="border-y-2 w-4/12"></div>
    </div>
    <form class="flex flex-col items-center justify-around h-96" action="">
        <div class="w-full flex justify-center">
            <input type="textarea" name="" id="" class="bg-bgDark rounded-lg h-64 w-11/12 text-white text-2xl font-arial shadow-xl">
        </div>
        <div class="flex justify-end font-arial text-2xl w-full px-16">
            <button class="bg-yellow text-bg mr-4 px-8 py-4 rounded-full shadow-xl hover:px-10 duration-300">Submit</button>
        </div>
    </form>
</div>