<div class="flex bg-bg text-white font-bold h-16 items-center justify-between px-24 shadow">
    <ul class="flex w-1/2 justify-between">
        <li class="hover:bg-bgDark duration-300 rounded-full px-6 py-2"><a routerLink="landing">HOME</a></li>
        <li class="hover:bg-bgDark duration-300 rounded-full px-6 py-2"><a routerLink="products">PRODUCTS</a></li>
        <li class="hover:bg-bgDark duration-300 rounded-full px-6 py-2"><a routerLink="#">LAB</a></li>
        <li class="hover:bg-bgDark duration-300 rounded-full px-6 py-2"><a routerLink="#">CONTACT</a></li>
        <li class="hover:bg-bgDark duration-300 rounded-full px-6 py-2"><a routerLink="comunity">FORUM</a></li>
    </ul>
    <button *ngIf="!logedIn" class="bg-yellow text-bg mr-4 px-6 py-2 rounded-full shadow-xl hover:px-8 hover:mr-2 duration-300" (click)="NavigateTo()">LOG IN</button>
    <div *ngIf="logedIn" class="flex items-center">
        <button class="bg-yellow text-bg mr-2 px-6 py-2 rounded-full shadow-xl hover:px-8 hover:mr-2 duration-300" (click)="navigateToCommand()">COMMANDS
        <span class="bg-yellow text-bg  px-4 py-2 rounded-full shadow-xl">{{cartCount}}</span></button>
        
        <button class="bg-yellow text-bg mr-4 px-6 py-2 rounded-full shadow-xl hover:px-8 hover:mr-2 duration-300" (click)="logOut()">LOG OUT</button>
    </div>
</div>