<div
  class="h-96 shadow-2xl w-64 rounded-lg transform hover:scale-105 transition duration-200 ease-out my-4"
>
  <div class="bg-white h-48 rounded-t-lg">
    <img
      class="rounded object-cover w-full h-full"
      [src]="'assets/imgs/' + url"
    />
  </div>
  <div class="bg-yellow-600 h-32 rounded-b-lg p-4">
    <h1 class="text-black text-lg font-bold">{{ album }}</h1>
   
    <h1 class="text-black text-lg font-bold">{{ artist }}</h1>
  </div>
  <div class="p-4">
    <button
      *ngIf="showDetailsButton"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="goToDetails(posterId)"
    >
      Details
    </button>
  </div>
</div>
