{% extends 'base.html.twig' %}

{% block title %}New Poster{% endblock %}

{% block body %}
    <h1>Create new Poster</h1>

    {{ include('poster/_form.html.twig') }}

    <a href="{{ path('app_poster_index') }}">back to list</a>
{% endblock %}
