
<div class="flex items-center justify-center h-screen">
    <div class="w-1/3 p-4 rounded-lg shadow sm:p-6 md:p-8 bg-bg shadow-xl">
        <form class="space-y-6" (ngSubmit)="onSubmit()">
            <h5 class="text-3xl text-center text-white font-arial">Log in to our platform</h5>
            <div>
                <label for="email" class="block mb-2 text-lg font-medium text-bgHigh font-arial tracking-widest">Your email</label>
                <input #email type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="name@company.com" required />
            </div>
            <div>
                <label for="password" class="block mb-2 text-lg font-medium text-bgHigh font-arial tracking-widest">Your password</label>
                <input #password  type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " required />
            </div>
            <div class="flex items-start">
                <div class="flex items-start">
                    <div class="flex items-center h-5">
                        <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-bg rounded bg-gray-50 focus:ring-3 focus:ring-bg " required />
                    </div>
                    <label for="remember" class="ms-2 text-md font-medium text-white ">Remember me</label>
                </div>
                <a href="#" class="ms-auto text-md text-yellow hover:underline">Lost Password?</a>
            </div>
            <button type="submit" class="font-arial w-full text-bg bg-yellow hover:scale-101 duration-200 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Login </button>
        </form>
        <div class="text-sm font-medium text-bgHigh mt-2">
            Not registered? <a (click)="NavigateTo()" class="text-yellow hover:underline">Create account</a>
        </div>
